* {
  color: #7f7b7b;
}

html, body, #root, .App {
  width: 100%;
  height: 100%;
  background-color: #f6e5db;
}

button {
  padding: 4px;
  border-style: none;
  border-radius: 5%;
  background-color: #a5b3bd;
}

.Header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #9d7e72;
}

.Footer {
  width: 100vw;
  height: 8vh;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #9d7e72;
}

.Nav, .UserPortal {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.Logo {
  width: 100px;
  height: 50px;
  text-align: center;
}

.Landing {
  display: flex;
  flex-direction: column;
}

.Landing > div {
  border: 1px solid blue;
  margin: 0 auto;
  margin-top: 2em;
  text-align: center;
}

.Landing:last-child {
  margin-bottom: 2em;
}

#hero {
  width: 90vw;
  height: 550px;
}

#features {
  width: 70vw;
  height: 500px;
}

#intent {
  width: 70vw;
  height: 500px;
}

.Profile {
  width: 85vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.Profile > * {
  margin: 1em auto;
}

/* Potentially Weird Styles Below */
.container {
  display: flex;
  flex-direction: column;
}

.container h1 {
  text-align: center;
  font-size: 18px;
  color: #415b76;
  text-decoration: underline;
}

/* Fonts */
/*
font-family: 'Quicksand', sans-serif;
font-family: 'EB Garamond', serif; */
