* {
  color: #7f7b7b;
}

html, body {
  overflow-x: hidden;
/* overflow: hidden; */
  box-sizing: border-box;
}

html, body, #root, .App {
  width: 100%;
  height: 100%;
  background-color: #4d4d4b;
}

button {
  width: 7em;
  background-color: #e8d56e;
  color: #361b1e;
  border: 0.5px solid rgba(0, 0, 255, 0.2);
  border-radius: 2px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.Header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  margin-bottom: 2px 2px 1px;
  /* background-color: #373c3d; */
 
}

.Footer {
  width: 100vw;
  height: 6vh;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #9d7e72;
}

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#logo {
  width: 5vw;
  height: 4vh;
}

.Landing {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}

.Landing h1 {
  font-weight: 700;
}

.Landing h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.Landing p, em, cite, strong, small {
  font-weight: 300;
}

.hero-bg {
  width: 100%;
  height: 100%;
  /* Overflow unnecessary?  */
  overflow-x: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/images/ian-dooley.jpg');
}

#hero-overlay {
  width: 90vw;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 16em auto auto;
}

.content {
  width: 100vw;
  height: 22vh;
  position: relative;
}


.clip-border {
  position: absolute;
}

.features-bg {
  width: 100%;
  height: 96.5vh;
  /* Overflow unnecessary?  */
  overflow-x: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/images/valentino-sheets.png');
}

#features-overlay {
  width: 90vw;
  height: 60vh;
  text-align: center;
  margin: 10em auto auto;
  background-color: rgba(20,24,27,0.5);
  border-radius: 5px;
}

.overlay {
  width: 70vw;
  height: 500px;
  margin: 1em auto;
  border: 1px solid black;
  text-align: center;
}

.Profile {
  width: 85vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.profile-bg {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/images/red-keyboard.jpg');
}

.Profile > * {
  margin: 1em auto;
}

.UserInfo {
  width: 55vw;
  height: 60em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgba(20,24,27,0.975);
  border-radius: 5px;
}

.profile-pic-wrapper {
  position: relative;
}
/* Fonts

font-family: 'Quicksand', sans-serif;
font-family: 'EB Garamond', serif; */


/* Viewer CSS Experimentation */

#sidebarContainer {
  overflow-x: hidden;
}
